
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/symfony/var/
/symfony/vendor/
###< symfony/framework-bundle ###

/symfony/docker/mysql/data/
/static/user/listing/
/symfony/src/Controller/TestController.php
/static/cache/
/symfony/docker/mysql/sql/
/static/resized/
/symfony/docker/php/xdebug_out/
/static/listing/
/symfony/.env.local.php
/symfony/node_modules/
/static/logo/
/static/category/
/test*.php
