
###> zzzz_engine/framework-bundle ###
/zzzz_engine/.env.local
/zzzz_engine/.env.local.php
/zzzz_engine/.env.*.local
/public/bundles/
/zzzz_engine/var/
/zzzz_engine/vendor/
###< zzzz_engine/framework-bundle ###

/zzzz_engine/docker/mysql/data/
/zzzz_engine/docker/mysql/sql/
/zzzz_engine/docker/php/xdebug_out/
/zzzz_engine/node_modules/
/zzzz_engine/src/Controller/TestController.php
/static/cache/
/static/resized/
/static/listing/
/static/logo/
/static/category/
/test*.php
