<div class="listing-contact-data-wrapper js__listingContactData">
    <div class="alert alert-info">
        <div class="mb-1">{{ 'trans.Please refresh page and try again' | trans }}</div>
        <div class="js__reloadPage btn btn-success w-100">{{ 'trans.Refresh page' | trans }}</div>
    </div>
</div>
