{% extends 'base.html.twig' %}

{% block title %}{{ 'trans.New Listing' | trans }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 col-lg-3 mb-4">
            {% include 'user/listing/_part/user_navigation_card.html.twig' %}
        </div>

        <div class="col-md-8 col-lg-9">
            <h2 class="mb-3">{{ 'trans.Create Listing' | trans }}</h2>

            {{ include('user/listing/_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}

 {% block js %}
     {% include 'user/listing/_part/_custom_fields.html.twig' %}
     {% include 'user/listing/_part/_file_upload.html.twig' %}
     {% include 'user/listing/_part/_category_select.html.twig' %}
 {% endblock %}
