{{ form_start(form) }}
    {{ form_widget(form) }}

<div>
    <div class="custom-fields-from-ajax"></div>
</div>

<div class="file-loading">
    <input id="input-fas" name="input-fas[]" type="file" multiple accept="image">
</div>


<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
