{% extends 'base.html.twig' %}

{% block title %}New Listing{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 col-lg-3 mb-5">
            {% include 'listing/user_navigation_card.html.twig' %}
        </div>

        <div class="col-md-8 col-lg-9">
            <h2 class="mb-5">Create Listing</h2>

            {{ include('listing/_form.html.twig') }}

            <a href="{{ path('app_listing_index') }}">back to list</a>
        </div>
    </div>
</div>
{% endblock %}

 {% block js %}
     <script type="text/javascript">
         $.get('{{ path('app_listing_get_custom_fields') }}', function (data) {
             $('.custom-fields-from-ajax').html(data);
         });
     </script>

     {% include 'listing/_file_upload.html.twig' %}
 {% endblock %}
