<div class="card">
    <div class="card-header">Dashboard</div>

    <ul class="list-group list-group-flush text-dark">
        <li class="list-group-item">
            <a href="//classifiedsplus.localhost/user/my-listings" class="text-dark ">
                <i class="fas fa-list-ul"></i>
                <span class="menu-txt">Listings</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="//classifiedsplus.localhost/user/select-plan" class="text-dark">
                <i class="far fa-plus-square"></i>
                <span class="menu-txt">Create Listing</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="//classifiedsplus.localhost/user/my-profile" class="text-dark ">
                <i class="fas fa-user"></i>
                <span class="menu-txt">Profile</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="//classifiedsplus.localhost/user/my-coupons" class="text-dark ">
                <i class="fas fa-tags"></i>
                <span class="menu-txt">Coupons</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="//classifiedsplus.localhost/user/my-reviews" class="text-dark ">
                <i class="fas fa-comments"></i>
                <span class="menu-txt">Reviews</span>
            </a>
        </li>

        <li class="list-group-item">
            <a href="//classifiedsplus.localhost/user/edit-pass" class="text-dark ">
                <i class="fas fa-lock"></i>
                <span class="menu-txt">Change Password</span>
            </a>
        </li>
    </ul>
</div>
