.tile_count .tile_stats_count {
    border-bottom: 1px solid #D9DEE4;
    padding: 0 10px 0 20px;
    position: relative;
}

.tile_count .tile_stats_count, ul.quick-list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px;
}

.tile_count .tile_stats_count:before {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px;
}

@media (min-width: 992px) {
    .tile_count .tile_stats_count:first-child:before {
        border-left: 0;
    }
}

.tile_count .tile_stats_count span {
    font-size: 12px;
}

.tile_count .tile_stats_count .count {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600;
}

@media (min-width: 768px) {
    .tile_count .tile_stats_count .count {
        font-size: 40px;
    }
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    z-index: 100; /* Behind the navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: 100vh;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@media (max-width: 992px) {
    .sidebar-sticky {
        height: auto;
    }
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.sidebar-bottom {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

@media (max-width: 992px) {
    .sidebar-bottom {
        position: unset;
    }
}

.sortable-ghost, .sortable-chosen {
    background: #f2fbff;
    border: 2px dashed #b6bcbf;
}

.sortable-ghost .nested-sortable-item, .sortable-chosen .nested-sortable-item {
    border: none;
}
