/*--------------------------------------------------------------
TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Typography
2.0 Colors
3.0 Header
4.0 Navbar
5.0 Sidebar
6.0 Footer
7.0 Contents
8.0 Pagination
9.0 Forms
10.0 Buttons
11.0 Tables
12.0 Modals
13.0 Global Classes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #333;
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 101vh;
    background-color: #f9f9f9;
}

a,a.h1,a.h2,a.h3,a.h4,a.h5,a.h6 {
    color: #0073bb;
    text-decoration: none;
}

a:hover, a:focus {
    color: #0073bb;
    text-decoration: none;
}
.breadcrumb a {
    text-decoration: none;
}
.breadcrumb a:hover, .breadcrumb a:focus,.breadcrumb > .active {
    text-decoration: none;
}

/*--------------------------------------------------------------
2.0 Colors
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.0 Header
--------------------------------------------------------------*/
.container-header {
    background-color: #edeef0;
}

/*--------------------------------------------------------------
4.0 Navbar
--------------------------------------------------------------*/

/*--------------------------------------------------------------
5.0 Sidebar
--------------------------------------------------------------*/

/*--------------------------------------------------------------
6.0 Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
7.0 Contents
--------------------------------------------------------------*/
.nav-tabs {
    border-bottom: 1px solid #eee;
}

.card-featured {
    height: 27rem;
    background-color: #f8f9fa;
}

.card-featured .card-body {
    overflow: hidden;
}

@media (max-width: 768px) {
    .card-featured {
        height: auto;
    }
}

.card-featured .card-img-top {
    width: auto;
    max-height: 202px;
}

.card-img {
    width: 100%;
    height: 168px;
    object-fit: cover;
}

.tpl-listing-show .tab-content {
    background-color: #edeef0;
    border: 1px solid #eee;
    border-top: 0;
}

.tpl-listing-show .nav-link.active {
    background-color: #edeef0;
    border: 1px solid #eee;
}

#listing-map-wrapper, #map-wrapper {
    width: 100%;
    height: 240px;
    border: 1px solid #eee;
}

#map-wrapper {
    height: 360px;
}

.sidebar-map {
    width: 100%;
    height: 372px;
    border: 1px solid #ddd;
}

.featured {
    background-color: red
}

.show-cats {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    -moz-column-gap: 20px;
}

.show-cats ul {
    list-style-type: none;
}

/*--------------------------------------------------------------
8.0 Pagination
--------------------------------------------------------------*/

/*--------------------------------------------------------------
9.0 Forms
--------------------------------------------------------------*/

/* Make select2 styles look like Bootstrap */
.select2-container--default .select2-selection--single {
    background-clip: padding-box;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    color: #495057;
    display: block;
    font-size: 1rem;
    height: calc(2.25rem + 2px);
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(2.25rem + 2px);
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

/* Header */
#header-controls .select2 {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

#header-controls  .select2-container--default .select2-selection--single .select2-selection__rendered {
    text-align: left;
    color: #6C7592;
    line-height: 1.5;
}

#header-controls  .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
}

#header-controls .select2-container--default .select2-selection--single {
    background-clip: padding-box;
    background-color: #fff;
    border-radius: .25rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: 1px solid #ced4da;
    color: #495057;
    display: block;
    font-size: 1rem;
    height: calc(2.25rem + 2px);
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
}

#header-controls .select2-selection .select2-selection--single {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*--------------------------------------------------------------
10.0 Buttons
--------------------------------------------------------------*/
.delete_pic, .delete_existing_pic {
    cursor: pointer;
}

.social-btn {
    background-color: #ddd;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 36px;
    padding: 4px 0;
    text-align: center;
    width: 36px;
}

.social-btn.facebook {
    background: #3b5998;
}

.social-btn.twitter {
    background: #55acee;
}

.btn-link {
    color: #0073bb;
}

/*--------------------------------------------------------------
11.0 Tables
--------------------------------------------------------------*/

/*--------------------------------------------------------------
12.0 Modals
--------------------------------------------------------------*/

/*--------------------------------------------------------------
13.0 Global Classes
--------------------------------------------------------------*/
img {
    height: auto;
    max-width: 100%;
}

.animated {
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.1s;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.zebra>div:nth-child(odd), .white-box {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
}

/* edit in place buttons */
.editable {
    display: inline;

}

.dummy {
    padding-top: 100%;
}

.container-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#profile-pic-wrapper {
    width: 150px;
}

.date-sm {
    font-size: 75%;
}

svg.icon {

    width: 18px;
    height: 18px;

}

.page-item {
    margin-bottom: 5px;
}

.fb_iframe_widget {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    top: -2px;
}

#twitter-widget-0 {
    display: inline-block;
    vertical-align: middle;
}

.card-header {
    background-color: #edeef0;
}


.file-simple .fileuploader {
    margin: 0;
}

.listing-recommended {
    background-image:
        linear-gradient(
                to left,
                #fffef2,
                white 40%
        );
}

.form-listing-description-textarea {
    min-height: 17rem;
}

.cascader-main {
    margin-bottom: 1rem;
}

.cascader-branch.cascader-click {
    cursor: pointer;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
}

.cascader-branch.cascader-click {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 992px) {
    .cascader-branch-list {
        border-right: 1px solid #343a40;
    }

    .cascader-branch-list-header {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .cascader-level-0 .cascader-branch-list-header {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

.cascader-branch.cascader-click:hover {
    background-color: #e1e1e1;
}

.cascader-branch.cascader-click.cascader-selected {
    background-color: #343a40;
    color: white;
}

.categories .card-title {
    margin-bottom: 0.75rem;
    font-size: 1.7rem;
    text-shadow: 1px 1px 1px #000, 0px 0px 3px #000000;
    background-color: rgba(52, 58, 64, 0.69);
    border-radius: 15px;
}

@media (min-width: 768px) {
    .col-checkbox-pull-down {
        margin-top: 2.0rem;
    }
}

.user-text-wrap {
    overflow-wrap: break-word;
}

.collapsing {
    transition-duration: 0s;
}

.list-small-img {
    max-height: 6rem;
    min-width: 4rem;
}

.listing-status-pending {
    color: #c69500;
}

.listing-status-expired, .listing-status-deactivated, .listing-status-user-removed {
    color: #9e9e9e;
}

.listing-status-active, .listing-status-active-featured {
    color: #4CAF50;
}

.listing-status-rejected, .listing-status-admin-removed {
    color: #f44336;
}

.text-warning-color {
    color: #f44336;
}

@media (max-width: 768px) {
    .w-100-small {
        width: 100%;
    }
}

.container-remove-padding {
    padding-right: 0;
    padding-left: 0;
}

@media (max-width: 768px) {
    .page-item {
        display: none;
    }
    .page-item.prev {
        display: block;
        width: 50%;
        text-align: center;
    }
    .page-item.next {
        display: block;
        width: 50%;
        text-align: center;
    }
}

#main-navbar .nav-link {
    padding-top: 0;
    padding-bottom: 0;
}


.listing-list-img {
    max-height: 10rem;
}

.user-listings-feature-this-link {
    color: #f44336;
}

.zoom-wrapper {
    display: inline;
    position: relative;
}

.zoom-wrapper .zoom {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;
    width: 90px;
    height: 90px;
    color: #fff;
    font-size: 50px;
    margin-left: -45px;
    margin-top: -45px;
    background-color: rgba(0,0,0,.25);
    display: block;
    cursor: pointer;
}

.zoom .fa {
    margin: 20px 0 0 25px;
}

.link-list-item {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.5rem 1.25rem;
}

.link-list-item:first-child {
    border: none;
}

.link-list-item.active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.link-list-item:hover {
    z-index: 2;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.d-none-soft:not(.show)  {
    display: none;
}
@media (min-width: 576px) {
    .d-sm-none-soft {
        display: none;
    }
}

@media (max-width: 576px) {
    .mobile-link {
        display: inline-block;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }

    .category-link {
        font-size: 1.2rem;
    }
}

.card {
    background-color: #f8f9fa;
}

.listing-list .card {
    background-color: #fff;
}

.btn-light {
    background-color: #f3f3f3;
}
