<form
        method="post"
        action="{{ path('app_user_feature_listing_action', {'id': listing.id, 'featuredPackage': package.id}) }}"
        onsubmit="return confirm('{{ '{1}trans.Feature for one day for %price%: %listing%?|]1,Inf[ Feature for %featuredDays% days for %price%: %listing%?' | transchoice(package.daysFeaturedExpire, {'%listing%': listing.title, '%featuredDays%': package.daysFeaturedExpire, '%price%': package.price | moneyPrecise}) }}');"
        class="d-inline"
>
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="_token" value="{{ csrf_token('feature' ~ listing.id) }}">
    <button class="btn btn-success btn-mini mb-2">
        {%- transchoice package.daysFeaturedExpire with {'%featuredDays%': package.daysFeaturedExpire, '%price%': package.price | moneyPrecise} -%}
            {1}trans.Feature for one day for %price%|]1,Inf[ Feature for %featuredDays% days for %price%
        {%- endtranschoice -%}
    </button>
</form>
