<form
        method="post"
        action="{{ path('app_user_feature_listing_as_demo', {'id': listing.id}) }}"
        data-confirm-message="{{ 'trans.Feature as a demonstration for 30 minutes: %listing%?' | trans({'%listing%': listing.title}) }}"
        class="d-inline js__confirm"
>
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="_token" value="{{ csrf_token('csrf_featureAsDemo' ~ listing.id) }}">
    <button class="btn btn-block btn-primary text-uppercase">{{ 'trans.Feature as a demonstration for 30 minutes' | trans }}</button>
</form>
