Options -Indexes
IndexIgnore *

<FilesMatch "\.php[\d]*$">
    SetHandler None
    RewriteRule "^(.*)$" - [R=404,L]
</FilesMatch>

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 year"
ExpiresByType image/jpeg "access 1 year"
ExpiresByType image/gif "access 1 year"
ExpiresByType image/png "access 1 year"
ExpiresByType text/css "access 1 year"
ExpiresByType text/x-javascript "access 1 year"
</IfModule>
## EXPIRES CACHING ##

# for development, load missing files from remote
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{HTTP_HOST} .localhost$
RewriteRule ^(.+)$ https://www.ogloszenia.jaslo4u.pl/static/$1? [L,R=301,NE]
