[mysqld]
bind-address=0.0.0.0
query_cache_size=0
query_cache_type=0
performance_schema=OFF
max_allowed_packet=32M
thread_stack=192K
thread_cache_size= 8
max_connect_errors= 1000000

skip_external_locking
skip_name_resolve
skip-name-resolve
skip-log-bin
skip-host-cache
skip-innodb-doublewrite

max_connections                 = 30

disabled_storage_engines = "MyISAM"

user=www-data-docker
