{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Admin panel' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ 'trans.Admin Dashboard' | trans }}</h1>
    </div>
{% endblock %}
