{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Admin panel' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        admin index
    </div>
{% endblock %}
