{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Categories' | trans }}{% endblock %}

{% block body %}
    <div class="mt-3">
        <h1>{{ 'trans.Categories' | trans }}</h1>

    </div>
{% endblock %}
