{% extends 'base.html.twig' %}

{% block title %}{{ 'trans.Map' | trans }}{% endblock %}

{% block body %}
    <div class="container-fluid px-0">
        <div class="map-with-listings js__mapWithListings"></div>
    </div>

    {{- advertisementZone('under_header', advertisementDto | default(null)) ~}}
{% endblock body %}

{% block js %}
    {{ encore_entry_link_tags('map_with_listings') }}
    {{ encore_entry_script_tags('map_with_listings') }}
{% endblock %}
